body{
  font-family: "Meiryo" ,sans-serif;
  color: #707070;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}

.header{
  background-color: #fff;
  padding: 30px;
  &-title{
    text-align: center;
    margin-bottom: 30px;
    &-link{
      display: block;
    }
  }
  &-nav{
    &-list{
      display: flex;
      justify-content: center;
      &-item:not(:last-child){
        margin-right: 40px;
      }
    }
  }
}


.fv{
  background-color: #B31566;
  margin-bottom: 100px;
  padding: 80px;
  &-main{
    font-family: "Indie Flower" , "Meiryo";
    &-desc{
      text-align: center;
      align-items: center;
      font-weight: bold;
      font-size: 4em;
      color: #fff;
    }
  }
}
.main{
  &-inner{
    width: 90%;
    margin: auto;
    &-flex{
      display: flex;
    }
  }
}



.post-link{
  margin: 30px;
  height: 50%;
  display: inline;
  background-color: #fff;
  border-radius: 20px;
  width: 60%;
  margin-right: calc(100%-30%);
  &-img{
    width: 70%;
    &-image{
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
  }
  &-desc{
    padding: 30px;
  }
}


.sidebar{
  margin-top: 30px;
  width: 30%;
  &-title{
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  &-top{
    &-img{
      width: 100%;
      border-radius: 30px;
      margin-bottom: 30px;
    }
  }
  &-profile{
    text-align: center;
    background-color: #fff;
    padding: 8%;
    border-radius: 30px;
    margin-bottom: 30px;
    &-img{
      margin: 0 auto 30px;
      background-color: #B31566;
      border-radius: 50%;
      text-align: center;
      align-items: center;
      width: 150px;
      line-height: 150px;
      &-image{
        width: 80%;
      }
    }
    &-desc{
      &-p{
        line-height: 2em;

      }
    }
  }
  &-category{
    margin-bottom: 50px;
    background-color: #fff;
    line-height: 2em;
    padding: 8%;
    border-radius: 30px;
    &-link{
      padding: 10px 0;
      display: block;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
    }
  }
}

.footer{
  font-size: .8em;
  text-align: center;
  padding: 30px;
  background-color: #fff;
}

@media screen and (max-width: 760px) {
  .header{
    &-title{
      margin-bottom: 0;
    }
    &-nav{
      display: none;
    }
  }
  .fv{
    padding: 80px;
  }

  .main{
    &-inner{
      &-flex{
        flex-direction: column;
      }
    }
  }
  .post-link{
    width: 100%;
    margin: 0;
    margin-top:30px;
  }

  .sidebar{
    width: 100%;
  }
}