body{
  font-family: "Meiryo" ,sans-serif;
  color: #707070;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}


.header{
  background-color: #fff;
  padding: 30px;
  &-title{
    text-align: center;
    margin-bottom: 30px;
    &-link{
      display: block;
    }
  }
  &-nav{
    &-list{
      display: flex;
      justify-content: center;
      &-item:not(:last-child){
        margin-right: 40px;
      }
    }
  }
}


.fv{
  background-image: url(../img/media__firstview.png);
  vertical-align: bottom;
  background-size: cover;
  &-main{
    font-family: "Indie Flower" , "Meiryo";
    &-desc{
      padding: 120px;
      line-height: 1.5em;
      text-align: center;
      font-weight: bold;
      font-size: 4em;
      color: #fff;
    }
  }

}

.main{
  &-inner{
    width: 90%;
    margin: auto;
    &-title{
      font-weight: bold;
      font-size: 1.5em;
      color: #707070;
    }
    &-title::before{
      color: #B31566;
      font-family: "Indie Flower";
      content:"\ANew Post\A";
      white-space: pre;
      font-size: .5em;
      font-weight: lighter;
    }
    &-flex{
      display: flex;
    }
  }
}
.post{
  width: 70%;
  &-flex{
    display: flex;
    flex-wrap: wrap;
    &-container{
      margin-top: 30px;
      margin-right: 5%;
      display: block;
      width: 28%;
      position: relative;
      &-img{
        &-tag{
          border-radius: 20px 0 0 0;
          position: absolute;
          padding: 5% 10%;
          background-color: #B31566;
          color: #fff;
          top: 0;
        }
        &-image{
          vertical-align:bottom;
          border-radius: 20px 20px 0 0;
          width: 100%;
        }
      }
      &-desc{
        line-height: 1.5em;
        border-radius: 0 0 20px 20px ;
        background-color: #fff;
        padding: 10%;
        &-title{
          margin-bottom: 10px;
        }
      }
    }
  }
}

.sidebar{
  margin-top: 30px;
  width: 30%;
  &-title{
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  &-top{
    &-img{
      width: 100%;
      border-radius: 30px;
      margin-bottom: 30px;
    }
  }
  &-profile{
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
    &-img{
      margin: 0 auto 30px;
      background-color: #B31566;
      border-radius: 50%;
      text-align: center;
      align-items: center;
      width: 150px;
      line-height: 150px;
      &-image{
        width: 80%;
      }
    }
    &-desc{
      &-p{
        line-height: 2em;

      }
    }
  }
  &-category{
    margin-bottom: 50px;
    background-color: #fff;
    line-height: 2em;
    padding: 20px;
    border-radius: 30px;
    &-link{
      padding: 10px 0;
      display: block;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
    }
  }
}

.footer{
  text-align: center;
  padding: 30px;
  background-color: #fff;
}

@media screen and (max-width: 760px) {
  .header{
    &-title{
      margin-bottom: 0;
    }
    &-nav{
      display: none;
    }
  }
  .fv{
    height: 70vh;
    background-image: url(../img/media__firstview-sp.png);
    background-position: center;
    &-main{
      margin: 0 auto;
      align-items: center;
      &-desc{
        padding: 150px;
        line-height:2em;
        font-size: 1.2em;
      }
    }
  }

  .main{
    &-inner{
      &-flex{
        flex-direction: column;
      }
    }
  }
  .post{
    width: 100%;
    &-flex{
      flex-direction: column;
      &-container{
        width: 100%;
        &-img{
          &-image{
            width: 100%;
          }
        }
        &-desc{
          padding: 30px ;
        }
      }
    }
  }
  .sidebar{
    width: 100%;
  }
}