body{
  font-family: "Meiryo" ,sans-serif;
  color: #707070;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}

.cat-fv{
  background-color: #B31566;
  &-main{
    font-family: "Indie Flower" , "Meiryo";
    &-desc{
      padding: 100px;
      line-height: 1.5em;
      text-align: center;
      font-weight: bold;
      font-size: 4em;
      color: #fff;
    }
  }
}
.main{
  &-inner{
    width: 90%;
    margin: auto;
    &-title{
      font-weight: bold;
      font-size: 1.5em;
      color: #707070;
    }
    &-title::before{
      color: #B31566;
      font-family: "Indie Flower";
      content:"\ANew Post\A";
      white-space: pre;
      font-size: .5em;
      font-weight: lighter;
    }
    &-flex{
      display: flex;
    }
  }
}
.post{
  width: 70%;
  &-flex{
    display: flex;
    flex-wrap: wrap;
    &-container{
      margin-top: 30px;
      margin-right: 5%;
      display: block;
      width: 28%;
      position: relative;
      &-img{
        vertical-align:bottom;
        border-radius: 20px 20px 0 0;
        &-tag{
          border-radius: 20px 0 0 0;
          position: absolute;
          padding: 5% 10%;
          background-color: #B31566;
          color: #fff;
          top: 0;
        }
        &-img{
          object-fit: cover;
        }
        &-noimage{
          width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
      &-desc{
        line-height: 1.5em;
        border-radius: 0 0 20px 20px ;
        background-color: #fff;
        padding: 10%;
        &-title{
          margin-bottom: 10px;
        }
      }
    }
  }
}

.no-see{
  margin-top: 30px;
}

@media screen and (max-width: 760px) {
  .main{
    &-inner{
      &-flex{
        flex-direction: column;
      }
    }
  }
  .post{
    width: 100%;
    &-flex{
      flex-direction: column;
      &-container{
        width: 100%;
        &-img{
          object-fit: cover;
        }
        &-desc{
          padding: 30px ;
        }
      }
    }
  }
  .sidebar{
    width: 100%;
  }
}
